
.navbar {
  background: #0f172a;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 16px;
}

.container {
  padding: 32px;
}